@import '~sass-material-colors/sass/sass-material-colors';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue:    material-color('blue');
$indigo:  material-color('indigo');
$purple:  material-color('purple');
$pink:    material-color('pink');
$red:     material-color('red');
$orange:  material-color('orange');
$yellow:  material-color('yellow');
$green:   material-color('green');
$teal:    material-color('teal');
$cyan:    material-color('cyan');

$primary: material-color('light-blue', '400');

$input-btn-focus-width: 1px;
